<section id="section-about">
  <div class="container-fluid">
    <h3>Acerca de mí</h3>
    <app-card-biography
      [githubLink]="bio.github"
      [linkedinLink]="bio.linkedin"
      [imageURL]="bio.foto"
      [titleBio]="bio.titulo"
      [descripcionBio]="bio.acercade"
      [perfil_id]="bio.id"
      [pasero]="bio"
    >
    </app-card-biography>
  </div>
</section>

<section id="section-experience">
  <div class="container-fluid">
    <h3>
      Experiencia laboral
      <app-button-add modalTarget="experience"></app-button-add>
    </h3>
    <app-card-default
      *ngFor="let experience of experiences"
      [imageCard]="experience.foto"
      [titleCard]="experience.cargo"
      [descripcionCard]="experience.empresa"
      [desde]="experience.desde"
      [hasta]="experience.hasta"
      [tareas]="experience.tareas"
      [refe_tel]="experience.refe_tel"
      [refe_per]="experience.refe_per"
      [apuntar]="'experience'"
    ></app-card-default>
  </div>
</section>

<section id="section-academic">
  <div class="container-fluid">
    <h3>
      Educación
      <app-button-add modalTarget="academic"></app-button-add>
    </h3>
    <app-card-default
      *ngFor="let academic of academics"
      [imageCard]="academic.logo"
      [titleCard]="academic.titulo"
      [descripcionCard]="academic.institucion"
      [desde]="academic.desde"
      [hasta]="academic.hasta"
      [tareas]="academic.habilidades"
      [apuntar]="'academic'"
    ></app-card-default>
  </div>
</section>

<section id="section-skills">
  <div class="container-fluid">
    <h3>
      Habilidades
      <app-button-add modalTarget="skill"></app-button-add>
    </h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <app-card-skills
        *ngFor="let skill of skills"
        [titleSkill]="skill.descripcion"
        [nivelSkill]="skill.nivel"
        [senioritySkill]="skill.seniority"
      ></app-card-skills>
    </div>
  </div>
</section>

<section id="section-projects">
  <div class="container-fluid">
    <h3>
      Proyectos
      <app-button-add modalTarget="project"></app-button-add>
    </h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <app-card-projects
        *ngFor="let project of projects"
        [imageProject]="project.foto"
        [titleProject]="project.nombre"
        [descripcionProject]="project.descripcion"
      ></app-card-projects>
    </div>
  </div>
</section>

<ng-template>
  <app-modal-add-edit-biography></app-modal-add-edit-biography>
  <app-modal-add-edit-experience></app-modal-add-edit-experience>
  <app-modal-add-edit-academic></app-modal-add-edit-academic>
  <app-modal-add-edit-skill></app-modal-add-edit-skill>
  <app-modal-add-edit-project></app-modal-add-edit-project>
  <app-modal-edit-image></app-modal-edit-image>
  <app-modal-delete-some></app-modal-delete-some>
</ng-template>