<section id="section-about">
  <div class="container-fluid">
    <h3>Acerca de mí</h3>
    <!-- <span *ngIf=""></span> -->
    <app-card-biography
      [githubLink]="bio.github"
      [linkedinLink]="bio.linkedin"
      [imageURL]="bio.foto"
      [titleBio]="bio.titulo"
      [descripcionBio]="bio.acercade"
      [perfil_id]="bio.id"
      [email]="bio.correo"
      [pasero]="bio"
    >
    </app-card-biography>
  </div>
</section>

<section id="section-experience">
  <div class="container-fluid">
    <h3>
      Experiencia laboral
      <app-button-add modalTarget="experience"></app-button-add>
    </h3>
    <app-card-default
      *ngFor="let experience of expe"
      [imageCard]="experience.logo"
      [titleCard]="experience.cargo"
      [descripcionCard]="experience.empresa"
      [desde]="experience.desde"
      [hasta]="experience.hasta"
      [tareas]="experience.tarea"
      [refe_tel]="experience.reftelef"
      [refe_per]="experience.refnombre"
      [apuntar]="'experience'"
      [dataEnter]="experience"
    ></app-card-default>
  </div>
</section>

<section id="section-academic">
  <div class="container-fluid">
    <h3>
      Educación
      <app-button-add modalTarget="academic"></app-button-add>
    </h3>
    <app-card-default
      *ngFor="let aca of academ"
      [imageCard]="aca.logo"
      [titleCard]="aca.titulo"
      [descripcionCard]="aca.institucion"
      [locacionCard]="aca.locacion"
      [desde]="aca.desde"
      [hasta]="aca.hasta"
      [tareas]="aca.habilidades"
      [apuntar]="'academic'"
      [dataEnter2]="aca"
    ></app-card-default>
  </div>
</section>

<section id="section-skills">
  <div class="container-fluid">
    <h3>
      Habilidades
      <app-button-add modalTarget="skill"></app-button-add>
    </h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <app-card-skills
        *ngFor="let skill of skills"
        [titleSkill]="skill.descripcion"
        [nivelSkill]="skill.nivel"
        [skillData]="skill"
      ></app-card-skills>
    </div>
  </div>
</section>

<section id="section-projects">
  <div class="container-fluid">
    <h3>
      Proyectos
      <app-button-add modalTarget="project"></app-button-add>
    </h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <app-card-projects
        *ngFor="let project of projects"
        [imageProject]="project.logo"
        [titleProject]="project.nombre"
        [descripcionProject]="project.descripcion"
        [inicioProject]="project.desde"
        [finProject]="project.hasta"
        [enlaceProject]="project.enlace"
        [sitioProject]="project.sitio"
        [projectData]="project"
      ></app-card-projects>
    </div>
  </div>
</section>

<ng-template>
  <app-modal-add-edit-biography></app-modal-add-edit-biography>
  <app-modal-add-edit-experience></app-modal-add-edit-experience>
  <app-modal-add-edit-academic></app-modal-add-edit-academic>
  <app-modal-add-edit-skill></app-modal-add-edit-skill>
  <app-modal-add-edit-project></app-modal-add-edit-project>
  <app-modal-edit-image></app-modal-edit-image>
  <app-modal-delete-some></app-modal-delete-some>
</ng-template>
