<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">{{ titleModal }}</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="close"
    (click)="dismissModal()"
  ></button>
</div>
<form [formGroup]="formAcademic" (ngSubmit)="onSubmit($event)">
  <div class="modal-body">
    <input
      type="text"
      id="id"
      formControlName="id"
      value="0"
      style="display: none;"
    />
    <input
      type="text"
      id="usuarios_id"
      formControlName="usuarios_id"
      value="0"
      style="display: none;"
    />
    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo:</label>
      <input
        type="text"
        id="titulo"
        formControlName="titulo"
        class="form-control shadow"
        placeholder="Ingrese su Titulo"
        [class.border-danger]="TituloValid"
      />
      <span *ngIf="TituloError" class="errorMessage"> {{ mErrTitulo }} </span>
    </div>
    <div class="mb-3">
      <label for="institucion" class="form-label"
        >Nombre de la Institución:</label
      >
      <input
        type="text"
        id="institucion"
        formControlName="institucion"
        class="form-control shadow"
        placeholder="Ingrese el nombre de la Institución"
        [class.border-danger]="InstitucionValid"
      />
      <span *ngIf="InstitucionError" class="errorMessage">
        {{ mErrInstituto }}
      </span>
    </div>
    <div class="mb-3">
      <label for="locacion" class="form-label">Lugar:</label>
      <input
        type="text"
        id="locacion"
        formControlName="locacion"
        class="form-control shadow"
        placeholder="Ciudad - Provincia - Pais"
        [class.border-danger]="LocacionValid"
      />
      <span *ngIf="LocacionError" class="errorMessage">
        {{ mErrLocacion }}
      </span>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Habilidades adquiridas:</label>
      <textarea
        name="habilidades"
        id="habilidades"
        formControlName="habilidades"
        class="form-control shadow"
        cols="30"
        rows="5"
        placeholder="Nombre las habilidades adquiridas entre comas (,) ¡es muy importante!"
        [class.border-danger]="HabilidadesValid"
      ></textarea>
      <span *ngIf="HabilidadesError" class="errorMessage">
        {{ mErrHabilidades }}
      </span>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
          <label for="desde" class="form-label"
            >Desde: {{ formAcademic.value.desde }}</label
          >
          <input
            type="date"
            id="desde"
            formControlName="desde"
            class="form-control shadow"
            [class.border-danger]="DesdeValid"
          />
          <span *ngIf="DesdeError" class="errorMessage"> {{ mErrDesde }} </span>
        </div>
        <div class="col-6">
          <label for="hasta" class="form-label">Hasta:</label>
          <input
            type="date"
            id="hasta"
            formControlName="hasta"
            class="form-control shadow"
            [class.border-danger]="HastaValid"
          />
          <span *ngIf="HastaError" class="errorMessage"> {{ mErrHasta }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary shadow"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button type="submit" class="btn btn-primary shadow">Aceptar</button>
  </div>
</form>
