<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">{{ titleModal }}</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="close"
    (click)="dismissModal()"
  ></button>
</div>
<form action="#" method="post" id="form-academic">
  <div class="modal-body">
    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo:</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        class="form-control shadow"
        placeholder="Ingrese su Titulo"
        required
      />
    </div>
    <div class="mb-3">
      <label for="institucion" class="form-label"
        >Nombre de la Institución:</label
      >
      <input
        type="text"
        name="institucion"
        id="institucion"
        class="form-control shadow"
        placeholder="Ingrese el nombre de la Institución"
        required
      />
    </div>
    <div class="mb-3">
      <label for="locacion" class="form-label">Lugar:</label>
      <input
        type="text"
        id="locacion"
        name="locacion"
        class="form-control shadow"
        placeholder="Pais, Provincia (la coma ',' no es opcional)"
      />
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
          <label for="desde" class="form-label">Desde:</label>
          <input
            type="date"
            name="desde"
            id="desde"
            class="form-control shadow"
            required
          />
        </div>
        <div class="col-6">
          <label for="hasta" class="form-label">Hasta:</label>
          <input
            type="date"
            name="hasta"
            id="hasta"
            class="form-control shadow"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary shadow"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button type="button" class="btn btn-primary shadow">Aceptar</button>
  </div>
</form>
