<div class="content">
  <app-header></app-header>
  <app-sections></app-sections>
  <app-footer></app-footer>
  <!-- <ng-template>
    <app-modal-add-edit-biography></app-modal-add-edit-biography>
    <app-modal-add-edit-experience></app-modal-add-edit-experience>
    <app-modal-add-edit-academic></app-modal-add-edit-academic>
    <app-modal-add-edit-skill></app-modal-add-edit-skill>
    <app-modal-add-edit-project></app-modal-add-edit-project>
    <app-modal-edit-image></app-modal-edit-image>
    <app-modal-delete-some></app-modal-delete-some>
  </ng-template> -->
</div>
