<div class="card mb-3 shadow">
  <div class="row g-0">
    <div class="col-md-2 col-btn" style="text-align: center;">
      <img
        src="./assets/images/maletin-web.png"
        class="img-fluid rounded-start academic"
        alt="experiencia laboral"
        style="width: 130px; height: auto;"
      />
      <div class="testeando">
        <app-button-edit></app-button-edit>
        <app-button-delete></app-button-delete>
      </div>
    </div>
    <div class="col-md-10 col-btn">
      <div class="card-body">
        <h5 class="card-title">Vendedor</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Año: 2009</small>
        </p>
        <div class="testeando">
          <app-button-edit></app-button-edit>
          <app-button-delete></app-button-delete>
        </div>
      </div>
    </div>
  </div>
</div>
