<div class="card mb-3 shadow">
  <div class="row g-0">
    <div class="col-md-2 col-btn" style="text-align: center;">
      <img
        [src]="imageCard"
        class="img-fluid rounded-start academic"
        [alt]="altCard"
        style="width: 130px; height: auto;"
      />
      <div class="testeando">
        <app-button-edit [type]="type2" [modalTarget]="apuntar"></app-button-edit>
        <app-button-delete [type]="type2" [modalTarget]="apuntar"></app-button-delete>
      </div>
    </div>
    <div class="col-md-10 col-btn">
      <div class="card-body">
        <h4 class="card-title">{{ titleCard }}</h4>
        <p class="card-text">
          {{ descripcionCard }}
        </p>
        <p class="card-text">
          <small class="text-muted"
            >Desde: {{ desde }} - Hasta: {{ hasta }}</small
          >
        </p>
        <p class="text-muted">
          <li *ngFor="let tarea of tareas">{{ tarea }}</li>
        </p>
        <p class="text-muted">{{ refe_per }} {{ refe_tel }}</p>
        <div class="testeando">
          <app-button-edit [type]="type1" [modalTarget]="apuntar"></app-button-edit>
          <app-button-delete [type]="type2" [modalTarget]="apuntar"></app-button-delete>
        </div>
      </div>
    </div>
  </div>
</div>
