<div class="col">
  <div class="card h-100 shadow col-btn">
    <img
      [src]="imageProject"
      class="card-img-top img-fluid rounded-start academic"
      style="width: 200px; height: auto; align-self: center;"
      alt="imagen del proyecto"
    />
    <div class="testeando">
      <!-- quitando la clase row se "arregla"-->
      <app-button-edit btnEditID="btnEditImgProject"></app-button-edit>
      <app-button-delete></app-button-delete>
    </div>
    <div class="col-btn">
      <div class="card-body">
        <h5 class="card-title">{{ titleProject }}</h5>
        <p class="card-text">
          {{ descripcionProject }}
        </p>
        <div class="testeando">
          <!-- quitando la clase row se "arregla"-->
          <app-button-edit
            btnEditID="btnEditProject"
            modalTarget="project"
          ></app-button-edit>
          <app-button-delete></app-button-delete>
        </div>
      </div>
    </div>
  </div>
</div>
